.navbar {
  display: flex;
  padding: 30px;
  margin: 10px;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
}

.card {
  display: flex;
  padding: 30px;
  margin: 10px;
  font-family: "Open Sans", sans-serif;
}
.col-5 {
  border-radius: 30px;
}

.search-bar {
  border-radius: 20px;
}

#submit {
  border-radius: 20px;
}
