.navbar {
  display: flex;
  padding: 30px;
  margin: 10px;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
}

.card {
  display: flex;
  padding: 30px;
  margin: 30px;
  font-family: "Open Sans", sans-serif;
}

.search-bar {
  border-radius: 30px;
}

.btn {
  border-radius: 30px;
}
